.menu__list {
	display:flex;
	justify-content:center;
}

.menu__link{
	text-decoration:none;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #fff;
}

.menu__item {
	margin-right:60px;
	
	&:last-child {
		margin-right:0;
	}
}