.scroll-down-btn {
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #fff;
background-color: Transparent;
}

.scroll-image {
	width:13px;
	height:13px;
	align-self:flex-start;
	margin-top:9px;
}